*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
p{
    color: #172B4D;
    text-align: center;
    font-size: 25px;
    gap: 100px;
   }
   button{
    padding: 3px 10px;
    background-color: #36B37E;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    margin:10px;
    align-items: center;
    flex-direction:;
    gap: 20px;
   }