<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schools</title>
    <link rel="stylesheet" href="Schools.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body>

   

<main>
    <div class="school-card">
    <div class="school-info">
        <div class="school-logo">
            <img src="../images/exhist.jpg" alt="Company Logo" class="school-logo-image">
        </div>
        <div>
            <h4>EXHIST</h4>
            <p>Experential Institute of Higher Education</p>
            <div class="school-details">
                <span>  <span class="material-icons-sharp">location_on</span>Bonanjo, Yaounde</span>
                <span>  <span class="material-icons-sharp">link</span>school website.com</span>
                
             
            </div>
        </div>
    </div>
    <div class="school-meta">
        <div>
             
             <p>exhist@gmail.com</p>
             <p>+237 6 01 23 45 67</p>
        </div>
        
    </div>
    <div><span class="material-icons-sharp">bookmark</span> </div>   
    <!-- end to school card -->
</div>
<div class="school-card">
    <div class="school-info">
        <div class="school-logo">
            <img src="../images/exhist.jpg" alt="Company Logo" class="school-logo-image">
        </div>
        <div>
            <h4>EXHIST</h4>
            <p>Experential Institute of Higher Education</p>
            <div class="school-details">
                <span>  <span class="material-icons-sharp">location_on</span>Bonanjo, Yaounde</span>
                <span>  <span class="material-icons-sharp">link</span>school website.com</span>
                
             
            </div>
        </div>
    </div>
    <div class="school-meta">
        <div>
             
             <p>exhist@gmail.com</p>
             <p>+237 6 01 23 45 67</p>
        </div>
        
    </div>
    <div><span class="material-icons-sharp">bookmark</span> </div>   
    <!-- end to school card -->
</div>
<div class="school-card">
    <div class="school-info">
        <div class="school-logo">
            <img src="../images/exhist.jpg" alt="Company Logo" class="school-logo-image">
        </div>
        <div>
            <h4>EXHIST</h4>
            <p>Experential Institute of Higher Education</p>
            <div class="school-details">
                <span>  <span class="material-icons-sharp">location_on</span>Bonanjo, Yaounde</span>
                <span>  <span class="material-icons-sharp">link</span>school website.com</span>
                
             
            </div>
        </div>
    </div>
    <div class="school-meta">
        <div>
             
             <p>exhist@gmail.com</p>
             <p>+237 6 01 23 45 67</p>
        </div>
        
    </div>
    <div><span class="material-icons-sharp">bookmark</span> </div>   
    <!-- end to school card -->
</div>
<div class="school-card">
    <div class="school-info">
        <div class="school-logo">
            <img src="../images/exhist.jpg" alt="Company Logo" class="school-logo-image">
        </div>
        <div>
            <h4>EXHIST</h4>
            <p>Experential Institute of Higher Education</p>
            <div class="school-details">
                <span>  <span class="material-icons-sharp">location_on</span>Bonanjo, Yaounde</span>
                <span>  <span class="material-icons-sharp">link</span>school website.com</span>
                
             
            </div>
        </div>
    </div>
    <div class="school-meta">
        <div>
             
             <p>exhist@gmail.com</p>
             <p>+237 6 01 23 45 67</p>
        </div>
        
    </div>
    <div><span class="material-icons-sharp">bookmark</span> </div>   
    <!-- end to school card -->
</div>
</main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
 

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="script.js"></script>
</body>
</html>