<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../../css/ARTICLES/article_style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <section class="blog-section">
            <h2>ARTICLES</h2>
            <div class="articles">
                <article class="blog-post">
                    <div class="article-image">
                        <img src="../../img/article1.jpg" alt="How to choose the right school">
                    </div>
                    <div class="article-content">
                        <h3>How to choose the right school for your child</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nulla in sit vitae...</p>
                        <a href="#">Read more</a>
                    </div>
                </article>

                <article class="blog-post">
                    <div class="article-image">
                        <img src="../../img/article2.jpg" alt="Early Education Importance">
                    </div>
                    <div class="article-content">
                        <h3>Understanding the Importance of Early Education</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nulla in sit vitae...</p>
                        <a href="#">Read more</a>
                    </div>
                </article>

                <article class="blog-post">
                    <div class="article-image">
                        <img src="../../img/article3.jpg" alt="Managing Assignments">
                    </div>
                    <div class="article-content">
                        <h3>Tips for Managing your Assignments</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nulla in sit vitae...</p>
                        <a href="#">Read more</a>
                    </div>
                </article>
            </div>
        </section>
    </div>
</body>

</html>
