<app-header/>
<section class="relative bg-cover bg-center h-screen" style="background-image: url('herosection.jpg');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10 flex items-center justify-center h-full text-white">
    <div class="text-center">
      <h1 class="text-5xl font-bold mb-4">Find Your Perfect School</h1>
      <p class="text-xl mb-8">Discover the best schools tailored to your needs</p>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Start Searching
      </button>
    </div>
  </div>
</section>
