<<<<<<< HEAD
#ange{
    margin: 0;
    padding: 0;
  }
  
  .hero {
    background-image: url('../img/herosection.jpg');
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content:left;
    align-items: left;
  }
  
  .hero-content {
    text-align: left;
    color:skyblue;
  }
  
  .hero-content h1 {
    font-size: 3.5rem;
    text-align: center;

  }
  
  .hero-content p {
    font-size: 2.5rem;
  }
  
  
  
=======
#ange.contact_expert{
  position: relative;
  width: 100%;
  background-image: url(/black-man-laptop-and-call-center-employee-talking-training-and-in-customer-service-help-and-contact-us-support-crm-consulting-office-worker-receptionist-or-telemarketing-communication-consultant-2PRRFB9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 25px;
  height: 250px;
}
.contact_expert h2{
  font-size: 25px;
  padding: 10px;

}
.contact_paragraph p{
  display: flex;
  align-items: center;
  justify-content: center;
} 
>>>>>>> f254ae08dcc7f8468620e0bd2a71d725b6168361
