#ange{
    margin: 0;
    padding: 0;
  }
  
  .hero {
    background-image: url('../img/herosection.jpg');
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content:left;
    align-items: left;
  }
  
  .hero-content {
    text-align: left;
    color:skyblue;
  }
  
  .hero-content h1 {
    font-size: 3.5rem;
    text-align: center;

  }
  
  .hero-content p {
    font-size: 2.5rem;
  }
  
  
  