.contact_expert{
    
    background-color: rgb(61, 158, 238);
     
    
    
}
.contact_expert h2{
    color: aliceblue;
    font-size: 50px;
    padding: 10px;
    height: 90px;
    text-align: left;
    

}
.contact_paragraph p{
    color: aliceblue;
    font-size: 20px;
    display: flex;
    justify-content: left;
    text-align: left;
    
    
    
}
.div_img{
    
}