#yann{
    background-color: brown;
}
#yann nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;

}

#yann .nav_links{

   
}
#yann ul{
   list-style: none;
   list-style-type: none;
   display: flex;
   flex-direction: row;

}
#yann ul li {
margin: 10px;
float: inline-end;
color: black;
 
 }