<<<<<<< HEAD
#yann{
  padding-top: 30px;
background-color:#EFF2F7 ;
}
.topranking_title{
  color: black;
  font-weight: bolder;
  padding: 25px 0;
}
.topranking_para{
  color: black;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  
}
.topranking_para span{
  color: #00B2FF;
}
.topranking_cards{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.topranking_card{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 25px 0;
max-width: 280px;
padding: 20px;
gap: 10px;

}
.cardimage{
 
  

}
.cardimage img{
  width: 300px;
  height: 350px;
  border-radius: 10px;
}
.cardtext{
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: left;
  gap: 5px;

}
.cardtext_title{
  color: black;
}
.cardtext_para{
  color: black;
}
.cardtext_details a{
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
=======
>>>>>>> f254ae08dcc7f8468620e0bd2a71d725b6168361
