<div class="body">
  <main>
    <div class="school-card">
      <div class="school-info">
        <div class="school-logo">
          <img
            src="../images/exhist.jpg"
            alt="Company Logo"
            class="school-logo-image"
          />
        </div>
        <div>
          <h4>EXHIST</h4>
          <p>Experential Institute of Higher Education</p>
          <div class="school-details">
            <span>
              <span class="material-icons-sharp">location_on</span>Bonanjo,
              Yaounde</span
            >
            <span>
              <span class="material-icons-sharp">link</span>school
              website.com</span
            >
          </div>
        </div>
      </div>
      <div class="school-meta">
        <div>
          <p>exhistgmail.com</p>
          <p>+237 6 01 23 45 67</p>
        </div>
      </div>
      <div><span class="material-icons-sharp">bookmark</span></div>
      <!-- end to school card -->
    </div>
    <div class="school-card">
      <div class="school-info">
        <div class="school-logo">
          <img
            src="../images/exhist.jpg"
            alt="Company Logo"
            class="school-logo-image"
          />
        </div>
        <div>
          <h4>EXHIST</h4>
          <p>Experential Institute of Higher Education</p>
          <div class="school-details">
            <span>
              <span class="material-icons-sharp">location_on</span>Bonanjo,
              Yaounde</span
            >
            <span>
              <span class="material-icons-sharp">link</span>school
              website.com</span
            >
          </div>
        </div>
      </div>
      <div class="school-meta">
        <div>
          <p>exhistgmail.com</p>
          <p>+237 6 01 23 45 67</p>
        </div>
      </div>
      <div><span class="material-icons-sharp">bookmark</span></div>
      <!-- end to school card -->
    </div>
    <div class="school-card">
      <div class="school-info">
        <div class="school-logo">
          <img
            src="../images/exhist.jpg"
            alt="Company Logo"
            class="school-logo-image"
          />
        </div>
        <div>
          <h4>EXHIST</h4>
          <p>Experential Institute of Higher Education</p>
          <div class="school-details">
            <span>
              <span class="material-icons-sharp">location_on</span>Bonanjo,
              Yaounde</span
            >
            <span>
              <span class="material-icons-sharp">link</span>school
              website.com</span
            >
          </div>
        </div>
      </div>
      <div class="school-meta">
        <div>
          <p>exhistgmail.com</p>
          <p>+237 6 01 23 45 67</p>
        </div>
      </div>
      <div><span class="material-icons-sharp">bookmark</span></div>
      <!-- end to school card -->
    </div>
    <div class="school-card">
      <div class="school-info">
        <div class="school-logo">
          <img
            src="../images/exhist.jpg"
            alt="Company Logo"
            class="school-logo-image"
          />
        </div>
        <div>
          <h4>EXHIST</h4>
          <p>Experential Institute of Higher Education</p>
          <div class="school-details">
            <span>
              <span class="material-icons-sharp">location_on</span>Bonanjo,
              Yaounde</span
            >
            <span>
              <span class="material-icons-sharp">link</span>school
              website.com</span
            >
          </div>
        </div>
      </div>
      <div class="school-meta">
        <div>
          <p>exhistgmail.com</p>
          <p>+237 6 01 23 45 67</p>
        </div>
      </div>
      <div><span class="material-icons-sharp">bookmark</span></div>
      <!-- end to school card -->
    </div>
  </main>
</div>
